{% extends 'layouts/base.html' %}

{% block title %}Virtual Machines{% endblock %}

{% block content %}
<h1>Virtual Machines</h1>

<script>
$(document).ready(function() { 
    $("#vm").tablesorter(); 
}); 

$(document).ready(function() {
	$('#vm').tableFilter();
});
</script>

<table id="vm" class="zebra-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th filter-type='ddl'>Host</th>
      <th filter-type='ddl'>State</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for vm in vms %}
    <tr>
      <td>{{ vm.name }}</td>
      <td>{{ vm.host }}</td>
      <td>
        {% if vm.state == "running" %}
        <span class="label success">{{ vm.state }}</span>
        {% else %}
        <span class="label">{{ vm.state }}</span>
        {% endif %}
      </td>
      <td>
        {% if vm.state == "running" %}
        <!-- <span class="btn">Stop</span> -->
        <a class="btn info" href="/vm/console/{{ vm.name }}">Console</a>
        {% else %}
        <!--
        <span class="btn success">Start</span>
        <span class="btn danger">Remove</span>
        -->
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

