{% extends 'layouts/base.html' %}

{% block title %}Virtual Machines{% endblock %}

{% block content %}
<h1>Virtual Machines</h1>

<script>
$(document).ready(function() { 
    $("#vm").tablesorter(); 
}); 

$(document).ready(function() {
	$('#vm').tableFilter();
});
</script>

<table id="vm" class="zebra-striped">
  <thead>
    <tr><th>Name</th><th filter-type='ddl'>Host</th><th filter-type='ddl'>State</th></tr>
  </thead>
  <tbody>
    {% for virtual_machine in virtual_machines %}
    <tr>
      <td>{{ virtual_machine.name }}</td>
      <td>{{ virtual_machine.host }}</td>
      <td>{{ virtual_machine.state }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

