{% extends 'layouts/base.html' %}

{% block title %}Virtual Machines{% endblock %}

{% block content %}
<h1>Virtual Machines</h1>

<form id="filter-form">
  <input name="filter" id="filter" value="" type="text">
</form>

<table id="vm" class="zebra-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th filter-type='ddl'>Host</th>
      <th filter-type='ddl'>State</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for vm in vms %}
    <tr>
      <td>{{ vm.name }}</td>
      <td>{{ vm.host }}</td>
      <td style="text-align: center">
        {% if vm.state == "running" %}
        <span class="label success">{{ vm.state }}</span>
        {% else %}
        <span class="label">{{ vm.state }}</span>
        {% endif %}
      </td>
      <td style="text-align: center;">
        {% if vm.state == "running" %}
        <!-- <span class="btn">Stop</span> -->
        <a href="/vm/console/{{ vm.name }}"><img src="/static/img/terminal_icon_16.png" /></a>
        {% else %}
        <!--
        <span class="btn success">Start</span>
        <span class="btn danger">Remove</span>
        -->
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
$(document).ready(function() { 
    $("#vm").tablesorter(); 
}); 

$(function() { 
  var t = $('#vm');
  $("#filter").keyup(function() {
    $.uiTableFilter( t, this.value);
  })
});

$(function() {
  $("#filter").focus();
})
</script>

{% endblock %}

